<%= render partial: 'search_block' %>

<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-info" %>
  <% end %>

  <%= yield :results_content %>
</div>