
<h3>Description</h3>
<p>
The Page is to demonstrate the integration of Rails application with Flickr API
</p>
<br />
<h3>How to use this page</h3>
<p>
Please enter an Keywork with which you want to search image and press Search
</p>
